* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;  
  font-family: 'Open Sans', sans-serif;
  }

body{
    background: white;
}

#container {
/*    width: 90%;*/
    max-width: 1250px;
}

#media, #container p{
    margin-bottom: 30px;
}
#container p{
   width: 85%;
}



.mejs__controls .mejs__playpause-button,
 .mejs__captions-button{
    background: orange !important;
   
}

.mejs__currenttime-container,
.mejs__volume-button {
    background: black !important;
}

.mejs__time-slider{
    background:#f44242 !important;
    }

.mejs__fullscreen-button {
    background: lightblue;
}

.mejs__captions-position {
    font-size: 0.9em !important;
    line-height: 16px !important;
    bottom: 40px;
}

@media (min-width:768px){
#container {
    width: 60%;    
}
    
#media{
    margin-top: 30px;
}
#container p{
   width: 100%;
}
    




}

@media (min-width:1024px){
   .mejs__captions-position {   
   font-size: 16px !important;   
    bottom: 30px;
} 
}